<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/carview.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="operations">
            <div>Add</div>
            <div>Edit</div>
            <div>Delete</div>
        </div>
        <div>Car Inventory</div>
        <div>Home</div>
    </nav>
    <main>
        <div>car picture</div>
        <div>car details</div>
    </main>
</body>
</html>