<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Application</title>
    <link rel="stylesheet" href="/stylesheets/crud-style.css">
</head>

<body>
    <nav>
        <div class="operations">
            <div>Add</div>
            <div>Edit</div>
            <div>Delete</div>
        </div>
        <div>Car Inventory</div>
        <a href="/">Home</a>
    </nav>
    <main>
        <form class="new-car" action="" method="post">
            <h1>New Car</h1>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Some Car">
            <label for="price">Price</label>
            <input type="number" name="price" id="price" placeholder="1000">
            <label for="description">Description</label>
            <textarea name="description" id="description" cols="30" rows="10"
                placeholder="this car can jump"></textarea>
            <label for="stock">Stock</label>
            <input type="number" name="stock" id="stock" placeholder="12">
            <label for="category">Category</label>
            <select name="category" id="category">
                <% for( let index = 0; index < categories.length; index++ ) { %>
                <option value=<%= categories[index].name %>><%= categories[index].name %></option>
                <% } %>
            </select>
            <input type="submit" value="Add Car">
        </form>
        <form class="new-category" action="./add/category" method="post">
            <h1>New Category</h1>
            <label for="new-category">Category</label>
            <input type="text" name="category" id="new-category" placeholder="some category">
            <input type="submit" value="Add Category">
        </form>
    </main>
</body>

</html>